<style>
.a {
  font-family: Monospace;font-size: 22px;line-height:125%,COLOR: #808080;text-align:center
}

.b {
  font-family: 'Inconsolata';font-size: 18px;line-height:125%
}
div {
  text-align: justify;
  text-justify: inter-word;
}
ul, br {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
ul.space_list li { margin-bottom: 0.3em; }
</style>
